:root {
    --submit-bar: #492D1C



}

#coffeeDisplaySection {
    /*overflow: scroll;*/
    /*height: 130vh;*/
    /*overflow: hidden;*/
}

body{
    background-image: url("img/coffee-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#mainHeader {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees {
    /*display: flex;*/

}
.container {
    display: flex;
    padding: 0;
}

form {
    padding: 0;
    margin-bottom: 10px;
}
#addCoffeeOption {
    padding-left: 12px;
}

.stretchDiv {
    width: 100%;
}
#roastSelect {
    margin: auto;
    padding-right: 0;
    font-weight: bold;
    border-radius: inherit;
}



#addCoffeeDiv {
    padding: 0 12px 0 12px;
    margin: auto;
    font-weight: bold;
}
.buttonStyle {
    background-color: var(--submit-bar);
    color: #ffff;
    border-radius: 15px;
}

#coffeeDisplaySection {
    column-count: 2;
}




#filterAndRoastDiv>form, hr {
    /*margin: 0 0 30px 0;*/
}

div.coffee {
   margin: 10px;
   /*display: inline-block;*/

}

.headerImage{
    margin: 35px;
}

#formInput, #roast-selection, #roast-selection2, #secondInput {
    border-radius: 15px;
}